SettleExpenses/bin/
SettleExpenses/gen/
SettleExpenses/out/
SettleExpensesTest/bin/
SettleExpensesTest/gen/
SettleExpensesTest/out/
SettleExpensesFunctionalTest/bin/
SettleExpensesFunctionalTest/gen/
SettleExpensesFunctionalTest/out/
.idea/*
out/*
