<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.app.settleexpenses"
      android:versionCode="3"
      android:versionName="2.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SettleExpenses"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".CreateEvent" />
    <activity android:name=".AddExpenses" />
    <activity android:name=".ParticipantsPicker" />
    <activity android:name=".ShowSettlements"/>
    <activity android:name=".ShowExpenses"/>
    <activity android:name=".SendSMS"/>

    </application>

<uses-permission android:name="android.permission.READ_CONTACTS"/>

<uses-sdk android:targetSdkVersion="2" android:minSdkVersion="2"></uses-sdk>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest> 